<div class="container">
  <div class="row bg-success-subtle">
    <div class="footer-one col-lg-6 col-md-12 mt-2">
      <img
        src="/static/Patitas logo.png"
        alt=""
        width="100 px"
        height="100 px "
      />
      <ul class="list-unstyled">
        <li>Asuncion</li>
        <li>ayudandoperritos@gmail.com</li>
        <li>0984 000 000</li>
      </ul>
    </div>

    <!-- Segundo bloque -->
    <div class="footer-one col-lg-6 col-md-12 mt-2">
      <div class="text-end">
        <h2 class="pb-4">ENLACES</h2>
        <ul class="list-unstyled">
          <li><a href="{{url_for('sobre_nosotros')}}">Sobre Nosotros</a></li>
          <li><a href="{{url_for('busquedas')}}">Mascotas Perdidas</a></li>
          <li><a href="{{url_for('encuentros')}}">Mascotas Encontradas</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <p>Ayudando perritos 2024 | Todos los derechos reservados ©</p>
</div>
